<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<div class="d-flex justify-content-center p-2">
  <h1>Pokemon List: <a class="btn btn-info" href="/prove09/?page=<%= page %>"><%= page %></a> </h1>
</div>
<div class="d-flex justify-content-center">
  <div class="card border-primary  col-md-3">
    <div class="card-header text-center">
      <h4>gotta catch em all</h4>
    </div>
    <div class="card-body p-0">     
        <% for (let list of pokemon.results) { %>
        <article class="card pokemon-item">
          <p class="card-text m-2 px-4 ">
            <%= list.name[0].toUpperCase() + list.name.slice(1) %>
          </p>
        </article>
        <% } %>      
    </div>
    <%- include('../includes/pagination.ejs') %>
  </div>
</div>

<%- include('../includes/footer.ejs') %>