<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
      <p>Week 03 Team Activity, Better Looking Than Amazon</p>
    </div>
  </div>
  <div class="container">
    <h5>Inventory Seach</h5>
    <form class="taForm" action="/proveRoutes/prove03/search" method="POST">
      <input name="searchValue">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="container">
    <div class="json">
      <% items.filter(item => item.description.toLowerCase().includes(searchValue.toLowerCase()) || item.name.toLowerCase().includes(searchValue.toLowerCase())).forEach(item => {%>
        <div class="stillBetterThanAmazon">
          <h4 class="price">
            $<%= item.price %>
          </h4>
          <img src="<%= item.imageUrl %>" alt="<%=item.name%>" width="250">
          <h3><%= item.name %></h3>
          <div class="description">
            <%= item.description %>
          </div>
          <hr>
        </div>
      <% }) %>
    </div>
  </div>
  
  
  </body>
</html>