<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
    <div class="hero-body">
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1> Dice Set: <%= p.productId.description %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button is-white is-outlined" type="submit">  
                                <span class="icon">
                                    <i class="far fa-trash-alt"></i>
                            </span>
                            <span>Remove Item</span></button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="button is-white is-outlined" type="submit" > <span class="icon">
                        <i class="far fa-share-square"></i>
                    </span>
                    <span>Place Order</span></a></button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
<%- include('../includes/footer.ejs') %>