<%- include('../includes/head.ejs') %>
  
</head>

<body>
    <%- include('../includes/header.ejs') %>
<main>         
    <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
                <article class="card product-item">
                    <header class="itemHeader">
                        <h2 class="product__title"><%= product.title %></h2>
                        <p><%= product.description %></p>
                    </header>
                    <div class="itemImage">
                        <img src="<%= product.imageUrl %>"
                            alt="<%= product.title %>">
                    </div>
                    <div class="itemContent">
                        <h3 class="product__price">$<%= product.price %></h3>
                    </div>
                    <div class="itemButtons">
                        <% if (isAuthenticated) { %>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <% } %>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
   <%- include('../includes/footer.ejs') %>