<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
    <div class="hero-body">  
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <hr>
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="constrained">
            </div>
            <h2>$<%= product.price %></h2>
            <%- include('../includes/add-to-cart.ejs') %>
        </div>
<%- include('../includes/footer.ejs') %>