<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
    <div class="hero-body">  
    <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
                <article class="item product-item">
                    <header class="itemHeader">
                        <h2 class="itemTitle">
                            <%= product.title %></h2>
                            <div class="itemcontent">
                            <p class="itemDescription">
                                <%= product.description %>
                            </p>
                            <h3 class="price">$<%= product.price %></h3>
                        </div>
                    </header>
                    <div class="itemImage">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="itemcontent">                   
                        <a class="<%= path === '/admin/add-product' ? 'active' : '' %> button is-white is-outlined" href="/products/<%= product._id %>">
                            <span class="icon">
                                <i class="fas fa-info"></i>
                            </span>
                            <span>Details</span>
                        </a>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    </div>
                </article>
                <% } %>
        </div>
        <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>
        </div>
        <%- include('../includes/footer.ejs') %>