<%- include('../includes/head.ejs') %>
  
</head>

<body>
    <%- include('../includes/header.ejs') %>
<main>  
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <hr>
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="constrained">
            </div>
            <h2>$<%= product.price %></h2>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/footer.ejs') %>