<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<div class="hero-body"> 
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="itemProduct">
                        <header class="itemHeader">
                            <h2 class="itemTitle">
                                <%= product.title %>
                            </h2>
                        </header>
                        <div class="itemImage">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        </div>
                        <div class="itemContent">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="itemDescription">
                                <%= product.description %>
                            </p>
                        </div>                        
                        <div class="itemcontent">
                            <a class="button is-white is-outlined" href="/admin/edit-product/<%= product._id %>?edit=true">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span>Edit Item</span></a>
                            <form class="itemcontent" action="/admin/delete-product" method="POST">
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="button is-white is-outlined" type="submit">             
                                    <span class="icon">
                                        <i class="far fa-trash-alt"></i>
                                </span>
                                <span>Delete Item</span></a></button>
                            </form>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else { %>
                <h1 class="centered">No Products Found!</h1>
                <% } %>
            </div>
<%- include('../includes/footer.ejs') %>